@font-face {
    font-family: ZCispeo;
    /*src: url(../fonts/ZCispeo.woff);*/
    src: url(../../tool/ttx/ZCispeo-Mini.ttf);

}

body{
    background-color: whitesmoke;
    color: black;
    font-size: 10vw;
    font-family: "ZCispeo";
}

.container{
   width: 90%;
    margin: 0 auto;
}

.zero{
    font-size: 8%;
    margin-top: 25px;
    text-align: center;
}
.zerolast{
    font-size: 8%;
    margin-top: 100px;
    text-align: center;
    transform: rotate(180deg);
}
.one{
    font-size: 200%;
    text-align: center;
    margin: 50px 0;
}
.oneonecont{
    text-align: center;
}
.oneone{
    margin: 50px auto;
    width: 42%;
    font-size: 8%;
    border: solid black 1px;
    padding: 5px;
}
.two{
    font-size: 15%;
    margin: 50px 0;
    text-align: justify;
}
.three{
    font-size: 120%;
    text-align: center;
    line-height: 1.1em;
    margin: 50px 0;
}
.threethree{
    width: 75%;
    font-size: 8%;
    column-count: 3;
    margin: 50px auto;
    text-align: justify;
}
.threeone{
    font-size: 580%;
    line-height: 0.8em;
    text-align: center;
    margin: 50px 0;
    color: whitesmoke;
text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.four{
    display: none;
    text-align: center;
    line-height: 40%;
    margin: 50px 0;
}
.fourone{
    font-size: 60%;
    line-height: 1em;
}
.fourtwo{
    font-size: 55%;
    line-height: 1em;
}
.fourthree{
    font-size: 50%;
    line-height: 1em;
}
.fourfour{
    font-size: 45%;
    line-height: 1em;
}
.fourfive{
    font-size: 40%;
    line-height: 1em;
}
.foursix{
    font-size: 35%;
    line-height: 1em;
}
.fourseven{
    font-size: 30%;
    line-height: 1em;
}
.foureight{
    font-size: 25%;
    line-height: 1em;
}
.fournine{
    font-size: 20%;
    line-height: 1em;
}
.fourten{
    font-size: 15%;
    line-height: 1em;
}
.foureleven{
    font-size: 12%;
    line-height: 1em;
}
.fourtwelve{
    font-size: 8%;
    line-height: 1em;
}
.fourthirteen{
    font-size: 5%;
    line-height: 1.2em;
}
